body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
}
nav{
    word-spacing: 200px;
}

header{
    margin: 20px;
}